[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackclient = "==2.5.0"
slackeventsapi = "==2.1.0"
flask = "==2.1.0"
python-dotenv = "==0.21.1"

[dev-packages]

[requires]
python_version = "3.10"
